@media (max-width: 1200px)
  .container
    max-width: 960px
  ////S
@media (max-width: 992px)
  .container
    max-width: 700px
  .header
    &__header-top
      padding-top: 30px
      padding-bottom: 30px
  .header-top__search
    margin: auto
    max-width: 340px
  .navbar
      &__menu
        padding-top: 22px
        padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  ////S
@media (max-width: 768px)
  ////S
@media (max-width: 576px)
  ////S
//@media (max-width: 320px)