@media (max-width: 1200px)
  .container
    max-width: 960px
//------ End media 1200px ------//
  ////S
//------ Start media 992px ------//
@media (max-width: 1024px)
  .container
    max-width: 850px
    width: 92%
  .header-top 
    padding-top: 33px
    padding-bottom: 29px
  .search
      margin-left: 70px 
  .navbar
      &__menu
        padding-top: 22px
        padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
//------ Start media 842px ------//
@media (max-width: 842px)
  .header-top
    justify-content: space-between
    &__search
      margin-left: 48px
      margin-right: 70px
  .search__input
    width: 340px
    &__user
      margin-left: 0
    
//------ Start media 768px ------//
@media (max-width: 768px)
  .container
    max-width: 700px
  .header-top
    padding-top: 30px
    padding-bottom: 30px
    &__logo
      width: 132px
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .navbar
    &__menu
      padding: 19px 14px 23px 14px
//------ Start media 650px ------//
@media (max-width: 670px)
  .container
    max-width: 87%
  .header-top
    &__logo
      width: 99px
    &__search, &__user
      display: none
    &__menu-button
      width: 16px
      height: 11px
      padding: 0
      margin-left: auto
      display: flex
      flex-direction: column
      align-items: center
      align-self: flex-end
      justify-content: space-between
      border: none
      background-color: #ffffff
      cursor: pointer
  .menu-button
    &__line
      width: 16px
      height: 1px
      background-color: $text-color
  .navbar
    &__menu
      display: none
  ////S
//------ Start media 320px ------//
@media (max-width: 320px)
  .body
    min-width: 320px
  .header-top
    padding-top: 22px
    padding-bottom: 31px
  .container
    max-width: 280px
//-------------- Section "hotel" --------------//
//------ Start media 768px ------//
@media (max-width: 768px)
  .description
    & span
      &::after
        content: ' /'
    
//------ Start media 670px ------//
@media (max-width: 670px)
    .hotel
      &__wrapper
          justify-content: space-between
      &-row
        &__info
          width: 100%
        &__rating
          display: none
    .info
      &-name
        flex-basis: 100%
      &__offer
        order: -1
        margin-left: 0
      &__stars
        flex-basis: auto
    .description
    margin-bottom: 20px
        ////S
//------ Start media 320px ------//        
@media ( max-width: 320px  )
  .hotel
    padding-top: 2px
    padding-bottom: 70px
    &__info-name
      margin-top: 10px
  .info
    &__stars
      flex-basis: 23%
    &__offer
      margin-top: 2px
  .description
    & span
      &::after
        content: '/'
//-------------- Section "hotel-grid" --------------//
        ////S
@media (max-width: 1200px)
  .hotel
    &-slider
      width: 590px  
        ////S
@media (max-width: 1024px)
  .hotel
    &-grid
      flex-direction: column
    &-slider
      width: 100% 
      height: calc(59vw)
    &__slider
      margin-bottom: 30px
    &__column
      flex-direction: row
      justify-content: space-between
  .booking 
    width: 47%
  .api-map
    width: 47%
        ////S
@media (max-width: 768px)
  .hotel
    padding-bottom: 58px
    &-slider
      height: 450px
  .booking 
    width: 48.5%
  .api-map
    width: 48.5%
  .booking
    padding: 27px 21px 29px 25px
        ////S
@media (max-width: 680px)
  .hotel
    &__column
      flex-direction: column
  .booking
    width: 100%
    margin-bottom: 20px
  .api-map
    width: 100% 
    height: 245px
        ////S
@media (max-width: 660px)
  .hotel
    &-slider
      height: calc(55vw)
      min-height: 180px
        ////S
@media (max-width: 540px) 
  .hotel
    &__slider
      margin-bottom: 20px
        ////S
@media (max-width: 320px)
  .hotel
    padding-bottom: 40px
    &-row
      margin-bottom: 38px
    &-button
      width: 25px
      height: 25px
  .booking
    padding: 28px 23px 26px 24px
  .api-map
    max-height: 173px
        ////S
//-------------- Section "newsletter" --------------//
        ////S
@media (max-width: 992px)
  .newsletter-row
    max-width: 700px
        ////S
@media (max-width: 768px)
  .newsletter
    padding: 92px 0 92px 0
        ////S
@media (max-width: 680px)
  .newsletter
    padding: 76px 0 83px 0
    &-row
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
      margin: 0
    &__subscribe
      min-width: 280px
      width: 100%
    &-title
      font-size: 20px
      line-height: 25px
      &__strong
        margin-top: 4px
        font-size: 30px
        line-height: 38px
    &__title
      margin-bottom: 37px

        ////S
@media (max-width: 480px)
  .newsletter
    &-row
      width: 88%
    &__input
      padding-left: 20px
    &__subscribe
      width: 100%
      margin-left: 0
        ////S
//-------------- Section "reviews" --------------//
        ////S
@media (max-width: 992px)
  .reviews
    padding-bottom: 60px
    &-slider
      &__item
        max-width: 580px
        ////S
@media (max-width: 768px)
  .reviews
    padding-bottom: 51px
    &__title
      font-size: 30px
      line-height: 37px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
        padding: 0 60px 30px 64px
        &:after, &:before
          display: none
      &__button
        top: 49%
        &--prev
          left: 0
        &--next
          right: 0
        ////S
@media (max-width: 680px)
  .reviews
    &__title
      max-width: 260px
      margin-bottom: 42px
      line-height: 23px
      font-size: 18px
    &-slider
      &__item
        padding: 0 29px 30px 32px
      &__button
        top: 32px
        &--prev
          left: 50%
          transform: translate(-50%, 0)
          margin-left: -105px
        &--next
          right: 50%
          transform: translate(50%, 0)
          margin-right: -105px
    &__slider
      margin-bottom: 20px
        ////S
@media (max-width: 480px)
  .reviews
    padding-bottom: 40px
    &-slider
      &__item
        padding: 0 32px 36px 30px
      &__button
        &--prev
          left: 55%
        &--next
          right: 55%
        ////S
@media (max-width: 220px)
        ////S
        .reviews-slider__button
          &--prev
            left: 75%
          &--next
            right: 75%
//-------------- Section "activities" --------------//
        ////S
@media (max-width: 1200px)
  .card
    width: 230px
    height: 230px
        ////S
@media (max-width: 1024px)
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
      margin: -10px
    &__card
      margin: 10px
  .card
    width: calc(50% - 20px)
    min-height: 255px
        ////S
@media (max-width: 768px)
  .activities
    padding-bottom: 70px
    &-wrapper
  .card 
    &__title
      width: 205px
        ////S
@media (max-width: 640px)
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__title
      margin-bottom: 36px
      font-size: 18px
      line-height: 23px
  .card 
    width: 100%
    height: calc(50vw)
    &__title
      width: 90%
    &:nth-child(1)
      order: 0
    &:nth-child(2)
      order: 2
    &:nth-child(3)
      order: 1
      margin-bottom: 18px
    &:nth-child(4)
      order: 4
        ////S
@media (max-width: 260px)
  .card 
    min-height: calc(50vw)
      

