$primary: #EC1F46
$text-color: #333333
$dark: #0A223D
$Mulish: 'Mulish', sans-serif
$Nunito: 'Nunito', sans-serif
$footer-text-color: #BDBDBD
=slider-button
  position: absolute
  width: 30px
  height: 30px
  top: 50%
  transform: translateY(-50%)
  z-index: 10
  background-repeat: no-repeat
  background-position: center
  background-size: 10px
  background-color: transparent
  border: none
  cursor: pointer