.hotel
  padding-top: 23px
  padding-bottom: 70px
  &__wrapper
    display: flex
    align-items: center
    flex-wrap: wrap
  &-row
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 20px
    &__rating
      max-width: 65px
      min-height: 45px
  &__info
    &-name
      margin-top: 4px
      margin-bottom: 0
  &-grid
    display: flex
    justify-content: space-between
  &__column
    display: flex
    justify-content: space-between
    align-items: center
    flex-direction: column
  &-slider
    width: 728px
    height: 450px
    transition-duration: .5s
    &__item
      position: relative
      width: 100%
      height: 100%
      border-radius: 8px
      display: flex
      justify-content: center
      align-items: center
      overflow: hidden
      &::after
        content: ''
        position: absolute
        z-index: 5
        width: 100%
        height: 100%
        top: 0
        left: 0
        background: linear-gradient(180deg, rgba(0, 122, 223, 0.48) 0%, rgba(255, 255, 255, 0.128) 100%)
      & img 
        object-fit: cover
    &__button
      +slider-button
      &--next
        right: 18px
        background-image: url(../img/slider/arrow-next.svg)
      &--prev
        left: 16px
        background-image: url(../img/slider/arrow-prev.svg)

.info
  &-name
    font-size: 24px
    line-height: 30px
  &__stars
    flex-basis: 100%
    line-height: 0
  &__offer
    margin-top: 4px
    margin-left: 15px
  &__description
    margin: 0
    font-size: 12px
    line-height: 15px
.stars-wrap
  width: 48px 
  display: flex 
  justify-content: space-between
.offer
  font-size: 10px
  line-height: 13px
  font-weight: 600
  padding: 3px 9px
  padding-bottom: 4px 
  background-color: $primary
  border-radius: 3px
  color: #ffffff
.rating
  text-align: center
  background-color: $primary
  border-radius: 4px
  color: #ffffff
  &__text
    font-size: 8px
    font-weight: 600
    line-height: 10px
    margin-bottom: 2px
  &__counter
    font-size: 14px
    font-weight: 700
    line-height: 18px
    &::after
      content: '5'
      font-size: 10px
.description
  & span
    &::after
      content: '/'
.swiper
  margin-left: 0
.booking
  font-family: 'Nunito', sans-serif
  width: 350px
  height: 210px
  padding: 29px 29px 26px 26px
  color: #ffffff
  background: $dark
  border-radius: 8px
  &__info
    display: flex
    justify-content: space-between
    margin-bottom: 9px
  &__price
    display: flex
    flex-direction: column
  &__start
    font-weight: normal
    font-size: 10px
    line-height: 14px
  &__pricetag
    font-weight: 800
    font-size: 24px
    line-height: 33px
  &__per-room
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 11px 
  &__room
    margin-top: 4px
  &__text
    min-width: 80px
    display: flex
    align-items: center
    justify-content: space-between
    margin-bottom: 8px
    font-style: normal
    font-weight: normal
    font-size: 12px
    line-height: 16px
  &__description
    margin-left: 9px
  &__call-center
    display: flex
    justify-content: space-between
    align-items: center
    margin-bottom: 17px
  &__heading
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__number
    display: flex
    justify-content: space-between
    align-items: center
    color: inherit
    text-decoration: none
    font-style: normal
    font-weight: 600
    font-size: 18px
    line-height: 25px
  &__num
    margin-left: 8px
  &__button
    width: 100%
    min-height: 45px
    font-style: normal
    font-weight: 600
    font-size: 14px
    line-height: 19px
    border-radius: 4px 
    background-color: $primary
    color: #ffffff
    border: none
    cursor: pointer
.map
  width: 347px
  height: 213px
  background-color: transparent
  border-radius: 10px
  overflow: hidden
  border-radius: 10px 
  overflow: hidden
.api-map
  width: 347px
  height: 213px
  background-color: transparent
  border-radius: 10px
  overflow: hidden
  border-radius: 10px  
  overflow: hidden