.reviews
  padding: 40px 0 70px
  background-color: #F5FAFE
  &__title
    max-width: 85%
    font-weight: bold
    font-size: 36px
    line-height: 45px
    text-align: center
    text-transform: uppercase
    margin: 0
    margin: auto
    margin-bottom: 70px
  &-slider
    &__button
      +slider-button
      top: 37%
      &--next 
        right: 17px
        background-image: url(../img/slider/arrow-next-secondary.svg)
      &--prev
        left: 17px
        background-image: url(../img/slider/arrow-prev-secondary.svg)
    &__item
      position: relative
      max-width: 730px
      display: flex
      flex-direction: column 
      align-items: center
      background-color: #ffffff 
      border-radius: 8px
      margin: 45px auto 0
      padding: 0 97px 30px
      &::before
        position: absolute
        left: 62px
        top: 13px
        content: ''
        width: 70px
        height: 47px
        background-image: url(../img/reviews/quote-left.svg)
      &::after
        position: absolute
        right: 62px
        top: 118px
        content: ''
        width: 70px
        height: 47px
        background-image: url(../img/reviews/quote-left.svg)
    &__profile
      display: flex
      flex-direction: column
      align-items: center
      margin-top: -45px
      margin-bottom: 31px
    &__avatar
      width: 90px
      height: 90px
      display: flex
      justify-self: center
      align-items: center
      border-radius: 50%
      overflow: hidden
    &__icon
      width: 100%
      height: 100%
      object-fit: cover
    &__username
      max-width: 150px
      font-style: normal
      font-weight: bold
      font-size: 12px
      line-height: 15px
      text-align: center
      color: #EC1F46
      margin-bottom: 10px
      margin-top: 10px
    &__date
      max-width: 150px
      font-style: normal
      font-weight: normal
      font-size: 10px
      line-height: 13px
      text-align: center
      margin-bottom: 4px
    &__rating
      width: 48px
      display: flex
      justify-content: space-between
      justify-content: flex-start
      flex-wrap: wrap
      align-items: center
    &__text
      max-width: 537px
      width: 100%
      min-width: 220px
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 160%
      text-align: justify
      margin: auto